.features {
  font-family: $font-family-base;

  &--container {
    @include container;
  }
  &__block {
    border: 1px solid #b7b7b7;
    cursor: pointer;
  }
  &__icon-block {
    width: 70px;
    height: 70px;
    top: -30px;
    left: calc(100%/2 - 34px);
    border: 1px solid #b7b7b7;
  }
  &__icon {
    margin-top: 4px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border: 1px solid #b7b7b7;

    &--scale {
      transform: scale(-1, 1);
    }
  }
  &__title {
    font-size: 18px;
  }
  &__subtitle {
    font-size: 18px;
  }
}
.features__block:hover {
  color: $light-color;

  .features__icon-block {
    border-color: $bright-color;
  }
  .features__icon {
    color: white;
    background-color: $bright-color;
    border-color: $bright-color;
  }
}

