.banners {
  &__card {
    padding: 60px 50px;
    width: 100%;
    height: 603px;
    background-color: #e8edf7;
  }
  &__price {
    font-size: 18px;
    &--bigger {
      font-size: 48px;
    }
  }
  &__title {
    font-size: 48px;
    color: $bright-color;
  }
  &__btn {
    width: 140px;
    padding: 15px 20px;
  }
  &__img {
    transform: scale(-1, 1);
  }

}