.gallery {
  font-family: $font-family-base;

  &--container {
    @include container;
    max-height: 603px;
  }
  &__progress {
    margin-bottom: 35px;
  }
  &__tabs-item {

    & .gallery__tabs-link.active {
      color: $bright-color;
      background-color: #f4f5f7;
      border: none;
      border-top: 2px solid $bright-color;
    }
  }

  &__tabs-link {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__img {
    width: 100%;
    object-fit: contain;
    height: 410px;
  }
  &__icons-inner {
    top: calc(100%/2 - 85px);
  }
  &__icon {
    width: 35px;
    height: 35px;
    line-height: 35px;

    border: 1px solid $darkest-color;
    color: $darkest-color;

    &:hover {
      color: $bright-color;
      border-color: $bright-color;
    }
  }
  &__item-info {
    top: 70%;
    right: 5%;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: -16px;
      top: -4px;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid black;
      transform: rotate(-45deg);
    }
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: -16px;
      bottom: -4px;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 25px solid black;
      transform: rotate(-45deg);
    }
  }

  &__star-rating {
      line-height: 25px;
      font-size: 16px;
      cursor: pointer;

    &.fa-star{
      color: $darkest-color;
    }
  }
  &__item-price {
    padding-top: 30px;
    width: 110px;
    height: 110px;
    bottom: 2px;
    left: -88px;
    background-color: #7b7b7c;

    &--new {
      font-size: 20px;
    }
    &--old {
      text-decoration: line-through;
    }
  }
  &__controls {
    right: 0;
    left: 0;
    bottom: calc(100%/2 - 35px);
    height: 70px;
  }
  &__control {
    width: 35px;
    bottom: 0;
    height: 70px;
    opacity: 1;
    background-color: $darkest-color;

    &--icon {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      background-color: $bright-color;
    }
  }
  &__thumbs-list {
      overflow: hidden;
      white-space: nowrap;

    & .gallery__thumb {
      margin-right: 5px;
      height: auto;
      width: auto;

    }
  }
  &__thumb-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: #d3d3d3;
    opacity: 1;
  }

}


//#carousel-example-generic {
//  margin: 20px auto;
//  width: 400px;
//}

//#carousel-custom .carousel-indicators {
//  margin: 10px 0 0;
//  overflow: auto;
//  position: static;
//  text-align: left;
//  white-space: nowrap;
//  width: 100%;
//}
//#carousel-custom .carousel-indicators li {
//  background-color: transparent;
//  -webkit-border-radius: 0;
//  border-radius: 0;
//  display: inline-block;
//  height: auto;
//  margin: 0 !important;
//  width: auto;
//}

//#carousel-custom .carousel-indicators li img {
//  display: block;
//  opacity: 0.5;
//}
//#carousel-custom .carousel-indicators li.active img {
//  opacity: 1;
//}
//#carousel-custom .carousel-indicators li:hover img {
//  opacity: 0.75;
//}