.top-slider {
  font-family: $font-family-base;

  &--container {
    @include container;
    z-index: 0;
  }
  &__inner {
    top: 10%;
    bottom: 20%;
    right: 5%;
    left: 5%;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  }
  &__carousel {
    z-index: -1;
  }
  &__img {
    width: 100%;
    object-fit: cover;
    height: 260px;
    transform: scale(1.2) translateY(-27px);
  }
  &__btn {
    font-size: 14px;
    cursor: pointer;
  }
  &__controls {
    right: 0;
    left: 0;
    bottom: 0;
    height: 30px;

  }
  &__control {
    bottom: 0;
    height: 30px;
    opacity: 1;
    background-color: $darkest-color;

    &--icon {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      background-color: $bright-color;
    }
  }
}
