.top-slider {
  &__inner {
    top: 30%;
    bottom: 24%;
    right: 0;
    left: 0;
  }
  &__img {
    height: 505px;
    transform: scale(1.4) translateY(-48px);
  }
  &__title {
    font-size: 54px;
    font-weight: normal;
    &--bolder {
      font-weight: bolder;
    }
  }
  &__subtitle {
    font-size: 24px;
    font-weight: lighter;
  }
}