.top-menu {
  &--container {
    @include container;
  }

  &__search {
    .top-menu__search-input {
      width: 320px;
    }
  }
  &__list {
    position: static;
    width: 100%;
    background-color: white;

    &--wrapper {
      position: static;
      font-weight: 500;
    }
  }
  &__link {
    display: inline-block;
    padding: 30px 16px;

    color: $darkest-color;

    &:hover {
      padding-top: 26px;
      //padding-bottom: 29px;
      color: white;
      background-color: $bright-color;
      border-top: 4px solid $darkest-color;
      box-shadow: none;
    }
  }
}