.top-menu {
  font-family: $font-family-base;

  &--container {
    @include container;
  }
  &__search {

    &-input {
      border-color: $darkest-color;

      &::placeholder {
        font-size: 14px;
      }
    }
    &-icon {
      right: 15px;
    }
  }

  &__toggle {
    position: absolute;
    right: 0;
    display: block;
    width: 110px;

    font-size: 0;

    &::before {
      content: '';
      position: absolute;
      top: calc(100%/2 - 10px);
      left: calc(100%/2 + 30px);

      width: 25px;
      height: 3px;
      background-color: $darkest-color;
      box-shadow: 0 5px 0 0 $darkest-color, 0 10px 0 0 $darkest-color;
    }

  }
  &__list {
    position: absolute;
    right: 0;
    top: 11px;
    width: 130px;
    background-color: $darkest-color;
    z-index: 11;

    &--wrapper {
      position: absolute;
      right: 0;
    }
  }
  &__link {
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #b8b8b8;

    &:hover {
      color: white;
      background-color: $darkest-color;
      box-shadow: 0 1px 0 0 #b8b8b8;
    }
  }

}



.top-menu__toggle.top-menu__toggle--active {
  .top-menu__toggle {
    display: none;
    //background-color: #3f5a19;
    //&::before {
    //  top: calc(100%/2);s
    //  left: calc(100%/2 - 10px);
    //  width: 20px;
    //  transform: rotate(45deg);
    //  box-shadow: none;
    //}
    //&::after {
    //  @extend .top-menu__toggle::before;
    //  transform: rotate(-45deg);
    //}
  }

}
