.footer {
  font-family: $font-family-base;
  background-color: $dark-color;

  &-link-title {
    font-size: 22px;
  }

  &-link {
    color: $muted-color;
    font-size: 14px;
  }

    &-link:hover {
      text-decoration: none;
      color: $muted-color;
      box-shadow: 0 1px 0 0  $muted-color;
  }

}

footer .container {
  width: 75%;
  }

.bottom-footer {
  font-family: $font-family-base;
  background-color: $darkest-color;

  &-text {
    font-size: 14px;
    color: #a1a1a1;
  }


  &-link:hover {
    color: $bright-color;
  }
}