.header {
  font-family: $font-family-base;
  background-color: $dark-color;

  &--container {
    @include container;
    padding: 20px 0;
  }
  &__phone-number {
    font-size: 13px;

    &:hover {
      box-shadow: 0 1px 0 0 #ffffff;
    }
  }
  &__basket {
    padding: 7px 0px 7px 11px;
    background-color: $bright-color;
  }
  &__counter {
    padding: 3px 9px;
    top: calc(100%/2 - 11px);
    right: -18px;

    font-size: 12px;
    background-color: $dark-color;
  }

}