.header {
  &__phone-number {
    font-size: 18px;
    line-height: 30px;
  }
  &__icon {
    &-phone {
      color: $bright-color;
      font-size: 30px;
    }
    &-basket {
      font-size: 20px;
    }
  }
  &__basket {
    padding: 14px 0px 11px 11px;
  }
}