.stocks {
  font-family: $font-family-base;
  //@include container;

  &-first-img {
    object-fit: cover;
  }

  &-first-overlay {
    background-color: rgba(0,0,0,0.3);
  }

  &-first-title {
    font-size: 36px;
  }

  &-first-title-accent {
    font-size: 60px;
  }

  &-first-discount {
    font-size: 50px;
    padding: 10px 16px 10px 13px;
    border: 5px solid white;
  }

  &-second {
    background-color: #e8edf7;
  }

  &-second-title {
    font-size: 24px;
  }

  &-second-price {
    font-size: 30px;
    color: $bright-color;
  }

  &-third {
    background-color: #fbf3f7;
  }

  &-third-title {
    font-size: 18px;
    color: $bright-color;
  }

  &-third-text {
    font-size: 14px;
  }

}