.popup {
  margin-top: calc(100vh/2 - 150px);
  font-family: $font-family-base;

  &__content {
    width: 420px;
  }

  &__title {
    padding-top: 38px;
    font-size: 30px;
    color: $darkest-color;

    &--empty {
      font-size: 48px;
      line-height: 50px;
      color: $muted-color;
    }
  }

  &__subtitle {
    font-size: 30px;
    color: $muted-color;
  }
  &__body {
    padding: 25px 80px 70px;
  }
  &__input {
    padding-top: 20px;
    padding-bottom: 20px;

    &::placeholder {
      color: $darkest-color;
      font-size: 14px;
    }
  }
  &__btn-close.close {
    padding: 9px 14px;
    font-size: 20px;
    opacity: 1 !important;
    background-color: $darkest-color;
    text-shadow: none;
    &:hover {
      background-color: $bright-color;
      opacity: 1;
    }
  }
  &__btn-send {
    font-size: 13px;
    font-weight: 500;
    background-color: $darkest-color;
  }
}