@mixin tablet-width {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-width {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: calc(400/480 * 100%);

  @include tablet-width {
    max-width: calc(700/768 * 100%);
    //max-width: 555px;
  }

  @include desktop-width {
    max-width: calc(1000/1200 * 100%);
    //max-width: 1200px;
  }
}
